<%- include ('partial/header') %>
<div class="container">
  <header class="jumbotron mt-4">
    <h1 class="display-3">Welcome To YelpCamp</h1>

    <p class="lead">
      View our handpicked campgrounds from all over the world!!!
    </p>
    <hr class="my-2" />
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="/campgrounds/new" role="button"
        >Add New CampGround</a
      >
    </p>
  </header>
  <div class="row" style="display: flex; flex-wrap: wrap;">
    <% data.forEach(function(data){ %>
    <div class="col-md-4 col-sm-6">
      <div class="card">
        <img class="card-img-top" src="<%=data.img%>" alt="<%=data.name%>" />
        <div class="card-body">
          <h4 class="card-title"><%=data.name%></h4>
          <a href="/campgrounds/<%=data.id%>" class="btn btn-primary"
            >More info</a
          >
        </div>
      </div>
    </div>
    <%});%>
  </div>
</div>

<%- include ('partial/footer') %>
